
<div class="alert-wait animate__animated animate__fadeIn" *ngIf="!pokemonesUrls && !isError"
> 
    <div class="alert alert-warning alert-dismissible fade show" role="alert">
        <strong>! Información ¡  </strong> Por favor espere, estamos cargando la información.        
      </div>
</div>

<div class="alert alert-danger animate__animated animate__fadeIn" *ngIf="isError"> 
  No existe el tipo: `{{ type }}`
</div>
<div class="color-layout"
    *ngIf="isFull">
    <h2>
        {{type | titlecase}}
    </h2>
</div>
<div class="alert alert-danger animate__animated animate__fadeIn" *ngIf="isFull && pokemones.length == 0"> 
    No hay registros de este tipo!
 </div>
<div *ngIf="isFull"
     class="color-layout pokemons-hub animate__animated animate__fadeIn">
    <div *ngFor="let pokemon of pokemones"
         class="card-pokemon"
         [routerLink]="['/home/ver-pokemon', pokemon.name]">
      <img [src]="cargarImagen(pokemon)" alt="No cargo"
           loading="lazy">      
      <h4>{{ pokemon.name | titlecase }}</h4>
      <div class="specie">
        <p *ngFor="let type of pokemon.types "
           [class]="type.type.name">
          {{ type.type.name | titlecase }}
        </p>
      </div>
    </div>
</div>
